footer.bg-dark.text-light.mt-5
  .container.py-4
    .small © #{new Date().getFullYear()} Eco-Track. All rights reserved.
    .small Developed by 
      a.text-light(href="https://github.com/SIU-Sirocco-2025/Eco-Track" target="_blank" rel="noopener noreferrer") SIU-Sirocco