extends ../../layouts/heatmap.pug
include ../../mixins/moment.pug
include ../../mixins/aqi.pug
include ../../mixins/aqi-ui.pug
include ../../mixins/alert.pug
block main
  +showAlertSuccess(5000)
  +showAlertError(5000)
  .container.py-4
    .row
      .col-lg-9
        +aqiStatusbar()
        +aqiLegendInline()
        +aqiMapControls()
        +aqiMapCard()
        +aqiStationGrid()
      .col-lg-3.mt-4.mt-lg-0
        +aqiRecommendations()
