aside.sidebar
    .sidebar-brand
        i.bi.bi-leaf
        h6 EcoTrack
    ul.sidebar-nav
        li
            a(href="/admin/dashboard")
                i.bi.bi-speedometer2
                span Dashboard
        li
            a(href="/admin/aqi")
                i.bi.bi-cloud-slash
                span AQI Monitor
        li
            a(href="/admin/weather")
                i.bi.bi-cloud-sun
                span Weather
        li
            a(href="/admin/user")
                i.bi.bi-people
                span User
        li.menu-item
            a(href=`${prefixAdmin}/tickets`)
                i.bi.bi-chat-dots
                span Phản hồi
        li
            a(href="/admin/settings")
                i.bi.bi-gear
                span Settings